/*@media screen and (max-width: 1447px){
    .header-height{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: auto;
    }

    .img-deconnexion{
        max-width: 80%;
    }

    .contact-img{
        max-width: 50%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .body-container{
        flex-direction: column;
    }
        
    
}*/
