/* 
 
--------------- Police d'écriture ---------------
            font-family: 'Lato', sans-serif;
            font-family: 'Cardo', serif;
--------------------------------------------------

*/



/*  --------------- RESET CSS ------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--backgroundgris);
}

/*  --------------- RESET CSS ------------------------*/

/*  --------------------COLORS--------------------------*/
:root {
    --backgroundgris: #eae8e8;
    --backgroundnoir: #1d1d1d;
    --gris: #eae8e8;
    --noir: #1d1d1d;
}


/*  --------------------COLORS--------------------------*/



/*  --------------- CONTAINER / WIDHT ------------------------*/

.container {
    width: 1440px;
    margin: auto;
}

.row {
    display: flex;
}

.col-100 {
    width: 100%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-33 {
    width: 33.33%;
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
}

.col-25{
    width: 27%;
}

.align-right {
    text-align: right;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/*  --------------- CONTAINER / WIDHT ------------------------*/


/*  --------------- PADDING / MARGIN ------------------------*/
.margintop-20 {
    margin-top: 20px;
}

.margintop-40 {
    margin-top: 40px;
}


.margintop-90 {
    margin-top: 90px;
}

.padding-left20 {
    padding-left: 40px;
}

.padding-right20 {
    padding-right: 40px;
}

.header-height{
    height: 100vh;
}

/*  --------------- PADDING / MARGIN ------------------------*/


/*  --------------- H1 / FONT / FONT-SIZE ------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cardo', serif;

}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.0;
    color: var(--noir);
}


/*  --------------- H1 / FONT / FONT-SIZE ------------------------*/



/*  ------------------- NAVBAR ------------------------*/


nav ul {
    align-items: center;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0 50px;
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 300;
    font-size: 20px;

}

.navbar,
a {
    list-style-type: none;
    text-decoration: none;
}

.btn-outline-border {
    border: 3px solid rgb(5, 5, 5);
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/*  ------------------- NAVBAR ------------------------*/

.homebold {
    font-weight: 900;
}

.left p {
    padding-bottom: 65px;
}

.btn-reserv {
    border: 2px solid var(--noir);
    text-decoration: none;
    color: white;
    background-color: var(--backgroundnoir);
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*  ------------------- TRAVEL ------------------------*/

.travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--backgroundnoir);
    color: white;
    font-size: 15px;
    padding: 60px;
    padding-top: 30px;
}

.travel p {
    font-size: 15px;
    margin-bottom: 35px;
}

.travel a {
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid white;
    border-radius: 8px;
    padding: 15px 50px;
    margin: 20px;
}

.travel-width {
    width: 33.33%;
}

.container-travel{
    justify-content: center;
    align-items: center;
}

/*  ------------------- TRAVEL ------------------------*/


/* 
 
--------------- BODY CARD ---------------    
------------------------------------------------

*/



.body-card {
    background-color: var(--backgroundgris);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.body-content {
    max-width: 19%;
    margin: 1.5em;
}

.body-content h2{
    font-size: 35px;
    font-size: 900;
    color: var(--noir);
}

.travel-width h2 {
    font-size: 55px;
    font-weight: 900;
    line-height: 1.0;
    letter-spacing: 0;
}

.body-ligne {
    border-bottom: 3px solid black;
    padding: 22px;
    padding-bottom: 5px;
}

.body-content p {
    font-size: 18px;
}

.body-text {
    text-align: center;
    width: 50%;
    padding: 10vh;
    color: var(--noir);
}

.body-text h3{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    line-height: 1;
    
}

.body-text p {
    font-size: 20px;


}

.body-text h4 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.fa-plane-up {
    font-size: 60px;

}

/* 
 
--------------- BODY CARD ---------------    
------------------------------------------------

*/
.deconnexion{
    background-color: var(--noir);
    height: 870px;
    display: flex;
}

.deconnexion h3{
    font-size: 70px;
    color: white;
    line-height: 1;
}

.deconnexion h4{
    color: white;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}

.deconnexion p{
    color: white;
    font-family: 'Lato', sans-serif;
}

.destinations h3{
    font-size: 60px;
    color: var(--noir);
    font-weight: bold;
    line-height: 1;
}


.client-review{
    background-color: var(--backgroundgris);
}

.client-container {
    display: flex;
    justify-content: space-around;
}

.client-review h3{
    text-align: center;
    font-family: 'Cardo', serif;
    color: var(--backgroundnoir);
    padding: 15px;
    font-size: 50px;
    margin: 0;
}

.client-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border: 3px solid var(--backgroundnoir);
    border-radius: 8px;
    padding: 25px;
}

.name-of-client p{
    font-size: 25px;
    font-weight: bold;
}

.client-text p{
    font-weight: 300;
    font-size: 18px;
}

.fa-circle-user{
    font-size: 100px;
}
.reviews{
    text-align: center;
    color: var(--noir);
    font-size: 70px;
    line-height: 1;
}

.client-reviews{
    justify-content: space-between;
}

.client-text p{
    color: #6d6d6d;
    font-weight: 500;
}


.contact{
    flex-direction: column;
}

.contact-form{
    font-size: 60px;
}


.styled-input input{
    border: 3px solid var(--noir);
    width: 450px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0px;
}


textarea{
    resize: none;
    border: 3px solid var(--noir);
    border-radius: 5px;
    width: 450px;
    height: 225px;
    font-family: 'Lato', sans-serif;
}

::placeholder {
    color: var(--noir);
    font-size: 1.5em;
    padding: 15px;
  }

.btn-submit{
    border: 3px solid var(--noir);
    text-decoration: none;
    color: white;
    background-color: #1d1d1d;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.btn-submit a{
    color: white;
}


.footer{
    justify-content: center;
    align-items: center;
}

.links{
    flex-direction: column;
    
}

.links a{
    color: var(--noir);
    font-size: 25px;
    padding: 10px;
}

.quick-link h2{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: var(--noir);
    font-weight: 900;
}

.footer{
    height: 50vh;
    background-color: #c5c5c5;
}


.rando-footer{
    margin: 50px;
}


.rando-footer h3{
    font-size: 80px;
    color: var(--noir);
    line-height: 1;
}