/* 
 
--------------- Police d'écriture ---------------
            font-family: 'Lato', sans-serif;
            font-family: 'Cardo', serif;
--------------------------------------------------

*/



/*  --------------- RESET CSS ------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--backgroundgris);
}

/*  --------------- RESET CSS ------------------------*/

/*  --------------------COLORS--------------------------*/
:root {
    --backgroundgris: #eae8e8;
    --backgroundnoir: #1d1d1d;
    --gris: #eae8e8;
    --noir: #1d1d1d;
}


/*  --------------------COLORS--------------------------*/



/*  --------------- CONTAINER / WIDHT ------------------------*/

.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
}

.col-100 {
    width: 100%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-33 {
    width: 33.33%;
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 27%;
}

.align-right {
    text-align: right;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.pos-relative{
    position: relative;
}

/*  --------------- CONTAINER / WIDHT ------------------------*/


/*  --------------- PADDING / MARGIN ------------------------*/
.margintop-20 {
    margin-top: 20px;
}

.margintop-40 {
    margin-top: 40px;
}


.margintop-90 {
    margin-top: 90px;
}

.padding-left20 {
    padding-left: 40px;
}

.padding-right20 {
    padding-right: 40px;
}

.header-height {
    height: 100vh;
}

/*  --------------- PADDING / MARGIN ------------------------*/


/*  --------------- H1 / FONT / FONT-SIZE ------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cardo', serif;

}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.0;
    color: var(--noir);
}


/*  --------------- H1 / FONT / FONT-SIZE ------------------------*/



/*  ------------------- NAVBAR ------------------------*/


nav ul {
    align-items: center;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0 50px;
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 300;
    font-size: 20px;

}

.navbar,
a {
    list-style-type: none;
    text-decoration: none;

}

.btn-outline-border {
    border: 3px solid rgb(5, 5, 5);
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/*  ------------------- NAVBAR ------------------------*/

.homebold {
    font-weight: 900;
}

.left p {
    padding-bottom: 65px;
}

.btn-reserv {
    border: 2px solid var(--noir);
    text-decoration: none;
    color: white;
    background-color: var(--backgroundnoir);
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*  ------------------- TRAVEL ------------------------*/

.travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--backgroundnoir);
    color: white;
    font-size: 15px;
    padding: 60px;
    padding-top: 30px;
}

.travel p {
    font-size: 15px;
    margin-bottom: 35px;
}

.travel a {
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid white;
    border-radius: 8px;
    padding: 15px 50px;
    margin: 20px;
}


.container-travel {
    justify-content: center;
    align-items: center;
}

/*  ------------------- TRAVEL ------------------------*/


/* 
 
--------------- BODY CARD ---------------    
------------------------------------------------

*/



.body-card {
    background-color: var(--backgroundgris);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.body-content {
    max-width: 19%;
    margin: 1.5em;
}

.body-content h2 {
    font-size: 35px;
    font-size: 900;
    color: var(--noir);
}

.travel-width h2 {
    font-size: 55px;
    font-weight: 900;
    line-height: 1.0;
    letter-spacing: 0;
}

.body-ligne {
    border-bottom: 3px solid black;
    padding: 22px;
    padding-bottom: 5px;

}

.body-content p {
    font-size: 18px;
}

.body-text {
    text-align: center;
    color: var(--noir);
    padding: 50px;
    
}

.body-text h3 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    line-height: 1;

}

.body-text p {
    font-size: 20px;


}

.body-text h4 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.fa-plane-up {
    font-size: 60px;

}

/* 
 
--------------- BODY CARD ---------------    
------------------------------------------------

*/
.deconnexion {
    background-color: var(--noir);
    height: 870px;
    display: flex;
}

.deconnexion h3 {
    font-size: 70px;
    color: white;
    line-height: 1;
}

.deconnexion h4 {
    color: white;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}

.deconnexion p {
    color: white;
    font-family: 'Lato', sans-serif;
}

.destinations h3 {
    font-size: 60px;
    color: var(--noir);
    font-weight: bold;
    line-height: 1;
}


.client-review {
    background-color: var(--backgroundgris);
}

.client-container {
    display: flex;
    justify-content: space-around;
}

.client-review h3 {
    text-align: center;
    font-family: 'Cardo', serif;
    color: var(--backgroundnoir);
    padding: 15px;
    font-size: 50px;
    margin: 0;
}

.client-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border: 3px solid var(--backgroundnoir);
    border-radius: 8px;
    padding: 25px;
}

.name-of-client p {
    font-size: 25px;
    font-weight: bold;
}

.client-text p {
    font-weight: 300;
    font-size: 18px;
}

.fa-circle-user {
    font-size: 100px;
}

.reviews {
    text-align: center;
    color: var(--noir);
    font-size: 70px;
    line-height: 1;
}

.client-reviews {
    justify-content: space-between;
}

.client-text p {
    color: #6d6d6d;
    font-weight: 500;
}

.contact-form{
    margin-top: 20px;
    padding: 20px;
}


.contact h3{
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--noir);

}


.styled-input input {
    border: 3px solid var(--noir);
    height: 60px;
    width: 450px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0px;
}


textarea {
    resize: none;
    border: 3px solid var(--noir);
    border-radius: 5px;
    width: 450px;
    height: 225px;
    font-family: 'Lato', sans-serif;
}

::placeholder {
    color: var(--noir);
    font-size: 1.5em;
    padding: 15px;
}


.contact-img {
    margin-top: 110px;
}

.btn-submit {
    border: 3px solid var(--noir);
    text-decoration: none;
    color: white;
    background-color: #1d1d1d;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 434px;
    display: inline-block;
    margin-top: 100px;
}

.btn-submit a {
    color: white;
}


.footer {
    justify-content: center;
    align-items: center;
}

.links {
    flex-direction: column;

}

.links a {
    color: var(--noir);
    font-size: 25px;
    padding: 10px;
}

.quick-link h2 {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: var(--noir);
    font-weight: 900;
}

.footer {
    height: 50vh;
    background-color: #c5c5c5;
}


.rando-footer {
    margin: 50px;
}



.rando-footer h3 {
    font-size: 80px;
    color: var(--noir);
    line-height: 1;
}

.flex-direction-column {
    flex-direction: column;
}



@media screen and (max-width: 1156px) {
    .row-md {
        flex-direction: column !important;
    }

    .col-md-100 {
        width: 100% !important;
    }

    .col-md-80 {
        width: 80% !important;
    }

    .col-md-50 {
        width: 50% !important;
    }

    .reset-ml {
        margin-left: 0;
    }

    .reset-mr {
        margin-right: 0;
    }

    .reset-pl {
        padding-left: inherit;
    }

    .reset-pr {
        padding-right: inherit;
    }

    .mb-md-40 {
        margin-bottom: 40px;
    }

    .container-md {
        width: 100%;
        margin: auto;
    }

    .pl-md-10 {
        padding-left: 10%;
    }

    .pr-md-10 {
        padding-right: 10%;
    }

    .text-md-center {
        text-align: center;
    }

    .header-height {
        height: auto;
    }

    .btn-outline-border {
        display: none;
    }

    .destinations {
        text-align: center;
    }

    .body-text p {
        font-size: 15px;
    }

    .body-ligne{
        top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    }

    .img-body-card {
        min-height: 0;
        max-width: 90%;
    }

    .deconnexion {
        height: auto;
    }

    .client-box {
        margin: 15px;
    }

    .styled-input input{
        margin-right: 0;
    }
    .contact-form{
        text-align: center;
    }


    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .footer-md {
        flex-direction: column;
    }



    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 35px !important;
    }

    h3 {
        font-size: 45px !important;
    }

    h4 {
        font-size: 20px !important;
    }
}



@media screen and (max-width: 653px) {
    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 25px !important;
    }

    h3 {
        font-size: 35px !important;
    }

    h4 {
        font-size: 15px !important;
    }

    .col-ms-100 {
        width: 100% !important;
    }

    .col-ms-80 {
        width: 80% !important;
    }

    .col-ms-70 {
        width: 70% !important;
    }
    

    .col-ms-50 {
        width: 50% !important;
    }

    .btn-outline-border {
        display: none;
    }
    .btn-reserv{
        font-size: 20px;
    }

    .body-text p {
        font-size: 15px;
    }

    .destinations {
        text-align: center;
    }

    .travel a {
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: 3px solid white;
        border-radius: 8px;
        padding: 10px 30px;
    }

    .body-text {
        text-align: center;
        padding: 50px;
        color: var(--noir);
    }

    .styled-input input{
        width: 250px;
    }

    .btn-submit{
        width: 250px;
    }

    textarea{
        width: 250px;
    }

    .styled-input input{
        margin-right: 0;
    }
}








/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
    display: flex;
}

#hamitems a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #1d1d1d;
    color: white;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
    display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
        display: inline-block;
        color: #1d1d1d;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems {
        display: none;
    }

    #hamnav input:checked~#hamitems {
        display: block;
    }
}